<h1> Welcome to Project Tracker</h1>

<button type="button">New Project</button> 
<button type="button">Update Project</button>
<form method="delete" action="/login">
    <div>
        <label> Project ID</label>
        <input type="string" name="id" />
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>

<a href="pages/reports">Reports</a>

