<div class = 'input-container'>
<a class = 'input-field' href="projects/new">New Project</a>

<a class = 'input-field' href="projects/update">Update Project</a>

<form class = 'input-field' method="delete" action="/login">
        <label> Project ID</label>
        <input type="string" name="id" />

        <input type="submit" value="Get Project">

</form>

<a class = 'input-field' href="pages/reports/reports">Reports</a>
</div>
</div>
