<div class = 'small-container'>
<a class = 'home-field' href="/projects/new/">New Project</a>

<a class = 'home-field' href="/projects/">All Projects</a>

<form class = 'home-field' method="get" action="/projects/">
        <label> Project ID</label>
        <input type="string" name="id" value="5f8f65b6a2e3ecfe07944da0" />

        <input type="submit" value="View Project">

</form>

<a class = 'home-field' href="/pages/reports/reports/">Reports</a>
</div>
</div>
