<h1> Welcome to Project Tracker</h1>


<a href="projects/new">Reports</a>
<a href="projects/update">Reports</a>

<form method="delete" action="/login">
    <div>
        <label> Project ID</label>
        <input type="string" name="id" />
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>

<a href="pages/reports">Reports</a>

