<div class = 'small-container'>
<a class = 'home-field' href="projects/new">New Project</a>

{{!-- <a class = 'home-field' href="projects/update">View Project</a> --}}

<form class = 'home-field' method="delete" action="/login">
        <label> Project ID</label>
        <input type="string" name="id" />

        <input type="submit" value="View Project">

</form>

<a class = 'home-field' href="pages/reports/reports">Reports</a>
</div>
</div>
