<a href="pages/reports/30_day_report">30 Day Report</a>
<form method="post" action="/reports">
    <div>
        <label> Project ID</label>
        <input type="string" name="month" />
    </div>
    <div>
        <input type="submit" value="month">
    </div>
</form>