<div class='large-container'>
    <form method="post" id="inputform" action="/projects/new">
        <div class = 'input-field'>
            <label> Project Number</label>
            <input type="text" name="projectNumber" />
        </div>
        <div class = 'input-field'>
            <label> Approval Date</label>
            <input type="date" name="approvalDate" />
        </div>
        <div class = 'input-field'>
            <label> Arrival Date</label>
            <input type="date" name="arrivalDate" />
        </div>
        <div class = 'input-field'>
            <label> Start Work Date</label>
            <input type="date" name="startWorkDate" />
        </div>
        <div class = 'input-field'>
            <label> Arrival Date</label>
            <input type="date" name="arrivalDate" />
        </div>
        <div class = 'input-field'> 
            <input type="checkbox" name="a" value="a">
            <label for="a">a</label><br>
            <input type="checkbox" name="b" value="b">
            <label for="b">b</label><br>
            <input type="checkbox" name="c" value="c">
            <label for="c">c</label><br>
            <input type="checkbox" name="d" value="d">
            <label for="d">d</label><br>
            <input type="checkbox" name="e" value="e">
            <label for="e">e</label><br>
            <input type="checkbox" name="f" value="f">
            <label for="f">f</label><br>
            <input type="checkbox" name="g" value="g">
            <label for="g">g</label><br>
        </div>
        <div class = 'input-field'>
            <label> Project Worker </label>
            <input type="text" name="projectWorker" />
        </div class = 'input-field'>
        <div class = 'input-field'>
            <label> Finish Report Date </label>
            <input type="date" name="finishReportDate" />
        </div>

        <div class = 'input-field'>
            <label> Preliminary Report Date </label>
            <input type="date" name="preliminaryReportDate" />
        </div>
        <div class = 'input-field'>
            <label> Target Complete Date </label>
            <input type="date" name="targetCompleteDate" />
        </div>
        <div class = 'input-field'>
            <label> Proficiency Test </label>
            <input type="checkbox" name="proficiencyTest" />
        </div>
        <div class = 'input-field'>
            <label> Examination Required </label>
            <input type="checkbox" name="examinationRequired" />
        </div>
        <div class = 'input-field'>
            <label> Report Required </label>
            <input type="checkbox" name="reportRequired" />
        </div>

        <div class = 'input-field'>
            <textarea name="comment" form="inputform">Enter text here...</textarea>
        </div>
        <div class = 'input-field'>
            <input type="submit" value="Login">
        </div>
    </form>
</div>



{{!-- projectNumber - string (required)

approvalDate - date (required)

arrivalDate - date

startWorkDate - date

category [a, b, c, d, e, f, g] - (array) all boolean

projectWorker - string

finishReportDate - date 

preliminaryReportDate - date

targetCompleteDate - date (calculated on arrival date + predefined days according to category/s)

proficiencyTest - boolean, default false

examinationRequired - boolean, default true

reportRequired - boolean, default true

comments - text --}}