html {
    box-sizing: border-box;
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* body > * {
    border: 1px solid red
    } */


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    /* background-color:#fcfade; */
    background-image: linear-gradient(#defffe, #a5d4d2);
    text-align: center;
}

.small-container {
    height: 300px;
}

.input-field {
    padding: 30px;
    margin: 20px;
    justify-content: space-between;
}
.large-container{
    height: 600px;
    width: 500px;
    margin:auto;
    text-align: left;
}